@mixin size($height, $width)
    height: $height
    width: $width

@mixin location($top, $left)
    top: $top
    left: $left

.painting
    position: absolute
    background-color: rgb(255, 255, 255)
    @include size(70vw, 65vw)
    @include location(5vw, 10vw)
    border: 2vw solid black
    display: flex

    &__block-left
        @include size(30vw, 140vw )
        display: flex
        flex-direction: row-reverse
        background-color: rgb(0, 0, 0)
        display: flex
        flex-wrap: wrap
        justify-content: flex-end

    &__block-right
        background-color: rgb(255, 255, 255)
        @include size(70vw, 30vw )
        display: flex
        flex-direction: column
        align-items: flex-end

.block--left-yellow
    @include size(40vw , 28vw )
    background-color: rgb(252, 218, 0)
    border-right: 2vw solid black
    border-bottom: 2vw solid black

.block--left-white
    @include size(15vw , 28vw )
    background-color: rgb(255, 255, 255)
    border-bottom: 2vw solid black

.block--left-blue
    @include size(11.1vw , 18.6vw )
    background-color: rgb(0, 17, 255)
    border-right: 2vw solid black

.block--right-red
    background-color: rgb(255, 0, 0)
    @include size(190vw , 44.5vw )
    border-left: 2vw solid black
    border-bottom: 2vw solid black

.block--right--white-two
    @include size(36vw , 19vw )
    background-color: rgb(255, 255, 255)
    border-left: 2vw solid black
